<html>
        <head>
            <title>Julia's blog</title>
        </head>
        <body>
          <h1><a href="">Такой себе заголовок</a></h1>
          <h2>Такой же подзаголовок</h2>
          <p>Это очень интересное наполнение странцицы.</p>
          <em>К тому же местами курсивом </em>
          <strong>или даже жирным шрифтом, <br /> с переносом в новую строку.</strong>
            <a href="http://djangogirls.org">Ссылки тоже в наличии.</a>
          <div>
            {% for post in posts %}
                <div>
                    <p>published: {{ post.published_date }}</p>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaks }}</p>
                </div>
            {% endfor %}
          </div>
          <div>
            <p> Воотс...</p>
          </div>
        </body>
</html>
